.category-filter {
    margin-bottom: 20px;
}

.category-filter select {
    width: 350px;
    padding: 8px;
    font-size: 1em;
    border: 3px solid #DACCFF;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}