.container {
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.main-content {
    display: flex;
    gap: 20px;
}

.filters {
    height: 350px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters h3 {
    margin-top: 0;
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

.courses-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.card:hover {
    /* background-color: #f1f8de; */
    transform: scale(1.03);
}

.course-image {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 20px;
}

.course-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #000;
}

.course-info h2 {
    margin: 0;
    font-size: 1em;
}

.course-info p {
    font-size: 0.7em;
    /* margin: 1; */
}


.course-details {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.course-teacher {
    font-size: 0.9em;
    color: #7c7c7c;
}

.course-price {
    font-size: 1em;
}
