@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 900;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
